html
  head
    title= "DEVBALL monitoring"
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/solar/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    nav(class='navbar navbar-dark bg-dark')
        h1='DEVBALL Monitoring'
    main(class='container-fluid')
    div(class='errors')
        p(class='hidden alert alert-danger')

    p(class='hidden alert alert-success')
        strong='GUD!'
        ='All Jenkins jobs are green!'

    ul(class='jobs')

script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='main.js')