h1 {
    font-size: 1.5em;
}
.container-fluid {
    padding: 0;
}
ul {
    padding: 2px;
}
li {
    list-style: none;
    padding: 10px 15px 10px 0;
    margin: 10px 0;
    color: white;
}

.disabled,
.notbuilt {
    background: #868D93;
}
.blue {
    background: #5a9f26;
}
.blue_anime {
    background-color: #6ead3f;
}
.red {
    background: #EB5844;
}
.red_anime {
    background-color: #EB5844;
}
.aborted {
    background: #F2953F;
}
.blue_anime, .red_anime {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}
.job-status {
    text-align: right;
    float: right;
    margin-top:-10px;
}
.job-name {
    font-size: 30px;
    display: block;
    margin-bottom: -5px;
}
.job-name img {
    margin-left: 10px;
}
.healthcheck {
    /* margin: 15px; */
}
.badge-pill {
    border-radius: 0;
    font-size: 30px;
}
.badge-env-Stage,
.badge-env-Stage-origin,
.badge-env-PreProd {
    background-color: #A8A8A8;
}
.badge-env-Dev,
.badge-env-Dev2 {
    background-color: #965A38;
}
.alert-success strong {
    margin-right: 5px;
}