.container-fluid {
    padding: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    padding: 2px;
}
li {
    width: 24%;
    list-style: none;
    padding: 15px 10px;
    margin: 5px;
    color: white;
}

.notbuilt {
    background: #868D93;
}
.blue {
    background: #5a9f26;
}
.blue_anime {
    background-color: #6ead3f;
}
.red {
    background: #EB5844;
}
.red_anime {
    background-color: #EB5844;
}
.aborted {
    background: #F2953F;
}
.blue_anime, .red_anime {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.job-name {
    display: block;
    margin-top: 5px;
    font-size: 30px;
}
.badge-pill {
    border-radius: 0;
    font-size: 26px;
}