h1 {
    font-size: 1.5em;
    margin-top: 10px;
    display: block;
}
.container-fluid {
    padding: 0;
}
ul {
    padding: 2px;
}

li {
  align-items: center;
  color: white;
  display: flex;  
  justify-content: space-between;
  list-style: none;
  margin: 10px 0;
  padding: 10px 15px 10px 0;
}

.disabled,
.notbuilt {
    background: #868D93;
}
.blue {
    background: #5a9f26;
}
.blue_anime {
    background-color: #6ead3f;
}
.red {
    background: #EB5844;
}
.red_anime {
    background-color: #EB5844;
}
.yellow,
.aborted {
    background: #F2953F;
}
.qoute {
    display: block;
    clear: both;
    width: 100%;
    height: 60px;
}
.known_issue {
    background: #375a7f;
}
.known_issue_desc {
    font-size: 18px;
    display:block;
    margin-top: -5px;
}
.blue_anime, .red_anime {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}
.job-status {
    text-align: right;
    margin-top:-10px;
}
.job-name {
    font-size: 26px;
    display: block;
}
.job-name img {
    margin-left: 10px;
}

.badge-pill {
    border-radius: 0;
    font-size: 30px;
}
.badge-env-stage,
.badge-env-preprod {
    background-color: #A8A8A8;
}
.badge-env-dev {
    background-color: #965A38;
}

.left {
    display: inline-flex;
    flex-wrap: nowrap;
}

.alert-danger,
.alert-success {
    padding: 30px 15px;
    font-size: 26px;
}
.alert-danger {
    font-size: 18px;
    margin-top:30px;
}
.alert-success strong {
    margin-right: 5px;
}
.hidden {
    display: none;
}